<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title lang="en-GB">Settings</title>
        <title>Konfiguration</title>
        <title lang="fr-FR">Configuration</title>

        <input-field type="bool">
            <name>WeloEanDetailPageEANDetailActive</name>
            <label lang="de-DE">Zeige Ean auf Detailseite</label>
            <label>Display the Product Ean on the detail page</label>
            <label lang="fr-FR">Afficher le Ean sur la page de detail</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="int">
            <name>WeloEanDetailPageEANDetailPosition</name>
            <label lang="de-DE">Position</label>
            <label>Position</label>
            <label lang="fr-FR">Position</label>
            <defaultValue>1</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>WeloEanDetailPageManufacturerNumberDetailActive</name>
            <label lang="de-DE">Zeige Hersteller-Nr. auf Detailseite</label>
            <label>Display the supplier number on the detail page</label>
            <label lang="fr-FR">Afficher le No du fabricant sur la page de detail</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="int">
            <name>WeloEanDetailPageManufacturerNumberDetailPosition</name>
            <label lang="de-DE">Position</label>
            <label>Position</label>
            <label lang="fr-FR">Position</label>
            <defaultValue>2</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>WeloEanDetailPageManufacturerNameDetailActive</name>
            <label lang="de-DE">Zeige Herstellername auf Detailseite</label>
            <label>Display the supplier name on the detail page</label>
            <label lang="fr-FR">Afficher le Nom du fabricant sur la page de detail</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="int">
            <name>WeloEanDetailPageManufacturerNameDetailPosition</name>
            <label lang="de-DE">Position</label>
            <label>Position</label>
            <label lang="fr-FR">Position</label>
            <defaultValue>3</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>WeloEanDetailPageWeightDetailActive</name>
            <label lang="de-DE">Zeige Gewicht auf Detailseite</label>
            <label>Display the weight on the detail page</label>
            <label lang="fr-FR">Afficher le poids sur la page de detail</label>
        </input-field>

        <input-field type="int">
            <name>WeloEanDetailPageWeightDetailPosition</name>
            <label lang="de-DE">Position</label>
            <label>Position</label>
            <label lang="fr-FR">Position</label>
            <defaultValue>4</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>WeloEanDetailPageLengthDetailActive</name>
            <label lang="de-DE">Zeige Länge auf Detailseite</label>
            <label>Display the length on the detail page</label>
            <label lang="fr-FR">Afficher la longueur sur la page de detail</label>
        </input-field>

        <input-field type="int">
            <name>WWeloEanDetailPageLengthDetailPosition</name>
            <label lang="de-DE">Position</label>
            <label>Position</label>
            <label lang="fr-FR">Position</label>
            <defaultValue>5</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>WeloEanDetailPageHeightDetailActive</name>
            <label lang="de-DE">Zeige Höhe auf Detailseite</label>
            <label>Display the height on the detail page</label>
            <label lang="fr-FR">Afficher la hauteur sur la page de detail</label>
        </input-field>

        <input-field type="int">
            <name>WeloEanDetailPageHeightDetailPosition</name>
            <label lang="de-DE">Position</label>
            <label>Position</label>
            <label lang="fr-FR">Position</label>
            <defaultValue>6</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>WeloEanDetailPageWidthDetailActive</name>
            <label lang="de-DE">Zeige Breite auf Detailseite</label>
            <label>Display the width on the detail page</label>
            <label lang="fr-FR">Afficher la largeur sur la page de detail</label>
        </input-field>

        <input-field type="int">
            <name>WeloEanDetailPageWidthDetailPosition</name>
            <label lang="de-DE">Position</label>
            <label>Position</label>
            <label lang="fr-FR">Position</label>
            <defaultValue>7</defaultValue>
        </input-field>
    </card>
</config>
